server:
  port: 8080

spring:
  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html

  datasource:
    url: "jdbc:sqlserver://localhost:1434;database=OnlineBookStore;encrypt=true;trustServerCertificate=true"
    username: sa
    password: 123456
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    properties:
      hibernate.dialect: org.hibernate.dialect.SQLServerDialect
    hibernate:
      ddl-auto: none
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: "phucnaoto.buildweb@gmail.com"
    password: "zngrnfezimttrrxr"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

  security:
    user:
      name: admin
      password: "{noop}nnthienphuc"
  web:
    resources:
      static-locations: classpath:/static/
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

upload:
  path: src/main/resources/static/bookImage
paypal:
  mode: sandbox
  client:
    id: AYT99CXHWXT6XvDrhF5Y__PyQTNAnFGUvkhogPDFG9-uEtU2S6HhpFsY2O5Si5KVpiMJjmTolKJpmQLf
    secret: EBi7f2MVPcYFNxE49x7vbtNfiTrjqb_pRNg4M4DQEGaD0LeUwzfMfendhd0R_XXeqU1Vvc-nQtVLciYZ

apilayer:
  apikey: 1NVe80aJkZEdKJWU57SVD8OX28ih1J4u
