<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unauthorized</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
    <div class="row">
        <!-- Navbar -->
        <div class="col-2">
            <div style="margin-left: 5px !important;">
                <div th:replace="~{admin/Navbar :: navbar}" ></div>
            </div>
        </div>

        <div class="col-10" style="font-family: 'Times New Roman'; text-align: center;">
            <img src="/image/stamp.png" height="40%" width="40%">
            <h1>Truy cập bất hợp pháp</h1>
            <h2>Bạn không được cấp quyền sử dụng chức năng này. Vui lòng liên hệ với quản trị viên.</h2>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
